body{
    font-family: 'Montserrat', sans-serif;
    background-color: aliceblue;
    color: #faebd7;
}
header{
    display: flex;
    justify-content: space-between;
    background-color: #202020;
    width: 100%;
    height: 80px;
}
h2{
    font-size: 20px;
}
h3{
    font-size: 40px;
}
h1{
    font-size: 70px;
}
h4{
    font-size: 30px;
}
h1,h4,h2,h3,p{
    margin: 0;
}
.headerlo{
    display: flex;
    justify-content: left;
    align-items: center;
   
}
.headim{
    margin-left: 5px;
}
.sitlog{
    margin-left: 15px;
    width: 50px;
    border-radius: 50%;
}
.navlist{
    list-style: none;
    display: flex;
    color: #faebd7;
    align-items: center;
    padding-top: 15px;
    margin-right: 30px;
}
.link{
    color: #faebd7;
    text-decoration: none;
    padding: 10px;
    margin-left: 5px;
    transition: transform .2s;
}
.link:hover{
    color: #fa0297;
    border-bottom: 2px solid #fa0297 ;
}
.container{
    position: relative;
}
.btm{
    width: 100%;
}
.up{
    position: absolute;
    top: 20px;
    left: 50px;
    height: 180px;
    display: block;
}
.headtext{
    position: absolute;
    top: 200px;
    left: 50px;
    display: block;
}

p{
    font-size: 20px;
}

footer{
    display: flex;
    justify-content: left;
    background-color: #202020;
    width: 100%;
    height: 300px;
}
.foots{
    margin: 10px;
}
.foot{
    display: flex;
    justify-content: space-between;
    width: 20px;
    margin-left: 50px;
}
.footmar{
    margin-left: 40px;
}
.sole{
    display: block; 
    margin-top: 50px; 
    margin-left: 100px;
    justify-content: right;
}
.cont{
    margin-right: 10px;
    width: 60px;
    transition: transform .2s;
}
.cont:hover{
    transform: scale(1.5);
}
.feat{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #191919;
    width: 100%;
    height: 90px;
    margin:20px 0px 0px 0px;
    border-top:5px solid #fa0297;
    padding: 0px;
}
.feats{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #191919;
    width: 100%;
    height: 70px;
    border-top:5px solid #fa0297;
    padding: 0px;
}
.feat h5{
    font-size: 40px;
}
.feats h2{
    font-size: 30px;
}
.article{
    padding: 0px 80px 0px 90px;
    border-left:2px solid #202020;
    border-right:2px solid #202020;
}
.article p{
    color: #202020;
    text-align: justify;
    font-size: 20px;
}
.faci{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;

}
.faci img{
    width: 600px;
    height: 350px;
    margin-left: 100px;
}
.faci2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;

}
.faci2 img{
    width: 600px;
    height: 300px;
    margin-right: 100px;
}
.traditions{
    background-color: #202020;
    padding-bottom: 90px;
    padding-top: 50px;
}
.traditions h3{
    text-align: center;
    padding-bottom: 30px;
}
.fresh{
    justify-content: center;
    align-items: center;
}
.fresh img{
    width: 700px;
    border-top:4px solid #054e00;
    margin-left: 390px;
    transition: transform .2s;
    margin-bottom: 30px;
}
.fresh img:hover{
    transform: scale(1.1);
}